h1{
	font-size: 60px;
	color: #129cff;
}
h2{
	font-size: 60px;
	color: #129cff;
}
h3{
	font-size: 60px;
	color: #129cff;
}
h4{
	font-size: 60px;
	color: #129cff;
}
#uglyminion{
	height: 450px;
	width: 450px;
}
